h1 {
    color:lawngreen !important;
    text-align: center;
    font-size: 50px !important;   
}

h2 {
    color:lawngreen !important;
    text-align: center;
    font-size: 100px !important;
}

h3 {
    color:lawngreen !important;
    text-align: center;
    font-size: 50px !important;
}
