

.like-button {
    background-color: green;
    color: white;
    margin-right: 5px;
  }
  
  .dislike-button {
    background-color: red;
    color: white;
    /* Add any other styles you want for the Dislike button */
  }

  