@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', 'serif';
}

.like-button {
    background-color: green;
    color: white;
    margin-right: 5px;
  }
  
  .dislike-button {
    background-color: red;
    color: white;
    /* Add any other styles you want for the Dislike button */
  }

  